# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

datos/horarios_teoricos/horarios_por_parada.csv
datos/paradas/paradas.csv
datos/puntos_de_control/puntos_de_control.csv
datos/viajes/viajes_stm_052024.csv
datos/recorridos_bus.csv
datos/uptu_pasada_circular.csv
datos/uptu_pasada_circular.zip
bin/main